.login-form {
    margin: 6%;
  }
  
  .button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10%;
    margin-top: 20px;
    
  }
  